.empty {
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: black;
}

.wall {
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: white;
}

.start{
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: yellow;
}

.end {
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: red;
}

.path {
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: orange;
}

.explored {
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: green;
}

.exploring {
    width: 30px;
    height: 30px;
    border: 1px solid #1919a6;
    background-color: rgb(208, 255, 0);
}