body {
    background-image: url("./components/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;      
    color: white;
    font-size: 50px;
    text-shadow: 
    .1vw 0vw .25vw #FFACFC, .2vw 0vw .25vw #FFACFC, .4vw 0vw .25vw #FFACFC, 
    .1vw 0vw   2vw #FF0099, .2vw 0vw   2vw #FF0099, .4vw 0vw   2vw #FF0099, 
    .1vw 0vw   1vw #FF00CC, .2vw 0vw   1vw #FF00CC, .4vw 0vw   5vw #FF00CC, 
    .1vw 0vw   5vw #FF00FF, .2vw 0vw  20vw #FF00FF, .4vw 0vw  10vw #FF00FF,
    .1vw 0vw  10vw #CC00FF, .2vw 0vw  30vw #CC00FF, .4vw 0vw  10vw #CC00FF;
}